/* src/components/Chat.module.css */

.chatContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 60vw;
  border: 0.5px solid var(--bg-sec);
  background-color: rgba(33, 34, 38, 0.7);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.messageList::-webkit-scrollbar {
  width: 6px;
}

.messageList::-webkit-scrollbar-thumb {
  background: var(--brand);
  border-radius: 10px;
}

.messageList::-webkit-scrollbar-track {
  border-radius: 10px;
}

.messageList {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageList .message {
  display: block;
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

.messageList .message.user {
  background-color: var(--brand);
  align-self: flex-end;
}

.messageList .message.system {
  background-color: var(--bg-sec);
  align-self: flex-start;
}

.backButton {
  display: none;
  background: var(--bg-sec);
  color: var(--text);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
  border-radius: 10px;
}

.showProfileButton {
  display: none;
  background: var(--brand);
  color: var(--bg);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .chatContainer {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  .backButton {
    display: block;
  }
  .showProfileButton {
    display: block;
  }
}
